<section class="bg-light">
    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class="col-6 col-md-3 mb-3">
                    <h5>Bize Ulaşın</h5>
                    <div class="col-auto">
                        <div>
                            <h6>Adres</h6>
                            İstanbul/Kadıköy
                        </div>
                        <div>
                            <h6>Email</h6>
                            info@bookly.com
                        </div>
                        <div>
                            <h6>Telefon</h6>
                            0555 555 55 55
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Hızlı Bağlantılar </h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/Home/" class="nav-link p-0 text-secondary">Anasayfa</a></li>
                        <li class="nav-item mb-2"><a href="/Home/About" class="nav-link p-0 text-secondary">Hakkımızda</a></li>
                        <li class="nav-item mb-2"><a href="/Categories/Index/3004" class="nav-link p-0 text-secondary">Kitaplar</a></li>
                        <li class="nav-item mb-2"><a href="/Account/MyOrders" class="nav-link p-0 text-secondary">Siparişlerim</a></li>
                        <li class="nav-item mb-2"><a href="/Favorites" class="nav-link p-0 text-secondary">Favorilerim</a></li>
                        <li class="nav-item mb-2"><a href="/Home/ContactUs" class="nav-link p-0 text-secondary">İletişim</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Yardım ve Bilgiler</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/Account/MyOrders" class="nav-link p-0 text-secondary">Sipariş Takibi</a></li>
                        <li class="nav-item mb-2"><a href="/Account/MyOrders" class="nav-link p-0 text-secondary">Kargo ve Teslimat</a></li>
                        <li class="nav-item mb-2"><a href="/Home/About" class="nav-link p-0 text-secondary">Hakkımızda</a></li>
                        <li class="nav-item mb-2"><a href="/Home/ContactUs" class="nav-link p-0 text-secondary">Bize Ulaşın</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <h5>Kategoriler</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="/Categories/Index/2" class="nav-link p-0 text-secondary">Bilim Kurgu</a></li>
                        <li class="nav-item mb-2"><a href="/Categories/Index/3" class="nav-link p-0 text-secondary">Roman</a></li>
                        <li class="nav-item mb-2"><a href="/Categories/Index/4" class="nav-link p-0 text-secondary">Felsefe</a></li>
                        <li class="nav-item mb-2"><a href="/Categories/Index/1001" class="nav-link p-0 text-secondary">Çocuk Kitapları</a></li>
                        <li class="nav-item mb-2"><a href="/Categories/Index/1002" class="nav-link p-0 text-secondary">Şiir</a></li>
                    </ul>
                </div>

                <div class="col-md-2 mb-3">
                    <form>
                        <h5>E Bültene Abone Olun</h5>
                        <p>Kampanyalardan önce sizin haberiniz olsun.</p>
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <label for="newsletter1" class="visually-hidden">Email</label>
                            <input id="newsletter1" type="text" class="form-control" placeholder="Email">
                            <button class="btn btn-primary text-nowrap" type="button">Abone Ol</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>© 2024 Bookly, Ltd. Tüm hakları saklıdır.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="text-secondary" href="x.com/" target="_blank"><i class="bi bi-twitter-x"></i></a></li>
                    <li class="ms-3"><a class="text-secondary" href="instagram.com/" target="_blank"><i class="bi bi-instagram"></i></a></li>
                    <li class="ms-3"><a class="text-secondary" href="facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a></li>
                </ul>
            </div>
        </footer>
    </div>
</section>
