@{
    ViewData["Title"] = "Hakkımızda";
}

<div class="text-center">
    <h1 class="display-4">Hakkımızda</h1>
</div>

<hr />
<div class="row">
    <div class="col-md-12">
        <p>
            <h4> Hoş geldiniz!</h4>
          
          Bookly, kitap tutkunlarının aradığı her türden eseri kolayca bulabilecekleri bir platformdur.
        </p>
        <p>
            Misyonumuz, okuyucularla onları etkileyen hikâyeleri ve bilgilendirici içerikleri bir araya getirmektir.
            İster sürükleyici bir roman, ister bilgilendirici bir araştırma kitabı, isterse eğlenceli bir çocuk kitabı arıyor olun – Bookly’de sizin için bir şey var.
        </p>
        <p>
            Kurulduğumuz günden bu yana amacımız, kitaplara ulaşmayı daha kolay, keyifli ve erişilebilir hale getirmek.
            Kullanıcı dostu yapımız ve kitaplara olan tutkumuz ile, alışveriş deneyiminizi en iyi hale getirmeye çalışıyoruz.
        </p>
        <p>
            Bizi tercih ettiğiniz için teşekkür ederiz. 
            
          
        </p>

        <p>
            <strong> Keyifli okumalar!</strong>
        </p>
    </div>
</div>
